<form  autocomplete="false" id="transferForm" class="container text-center"  [formGroup] ="myForm" novalidate (ngSubmit)="post(myForm)" autocomplete="off">


    <div class="form-group">
      <label >Changer De Pin</label>
    </div>
    <div class="form-group">
      <input autocomplete="false"  type="password" placeholder="Ancien Pin"  class="form-control" formControlName="oldPin">
     </div>
    <div class="form-group">
        <input autocomplete="false"  type="password" placeholder="Nouveau Pin"  class="form-control" formControlName="newPin">
    </div>
    <div class="form-group">
        <input autocomplete="false"  type="password" placeholder="Confirmer Nouveau Pin"  class="form-control" formControlName="confirmNewPin">
    </div>
    <div class="text-center">
        <button type="submit" class="btn btn-primary" [disabled]="myForm.invalid" mdbRippleRadius>Changer De Pin</button>

      <br><br></div>

    <!-- <div class="text-center">entered: {{myForm.value}}</div> -->
    </form>
