<div class="container text-center">
<div class="row container">
  <div class="col-md-3 block container">
    <h5>Etat Operationnel</h5>
    <label style="color:brown; font-size: 20px; font-style: italic">Balance Actuelle {{user?.balance}} $</label>
  <label *ngIf="isVerified" class="alert alert-success">Numero VerifiE</label><label *ngIf="!isVerified" class="alert alert-warning">Numero non verifiE.</label>
  <label class="alert alert-primary" *ngIf="!isVerified">Code de verification: {{user?.verificationCode}}</label>
  <label *ngIf="!isLocked" class="alert alert-success">Compte Actif</label> <label *ngIf="isLocked" class="alert alert-danger">Compte A EtE BloquE</label>
   <br><label class="alert alert-warning" *ngIf="needToChangePin">Doit Changer De Pin</label> 
  <label class="alert alert-primary" *ngIf="needToChangePin">Pin Temporaire: {{user.tempPin}}</label>  
</div>

<div class="col-md-6 block">
    <h5>Transactions Recentes</h5>
    
    <div class="container">
        <!-- <button class="btn btn-success " (click)="getUsers()">Refresh Users</button> -->
        <div class="table-responsive">
          <table class="table table-striped table-sm">
            <thead>
              <tr>
                <th>Date</th>
                <th>Faite Par</th>
                <th>Beneficiaire</th>
                <th>Montant</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let transaction of transactions let i =index">
                  <td>{{transaction.createdOn|date:'medium'}}</td>
                <td>{{transaction.createdBy.fullName}}</td>
                <td>{{transaction.receiver.fullName}}</td>
                <td>{{transaction.amount}} $</td>
                
              </tr>
            </tbody>
          </table>
        </div>
      </div>
</div>
<div class="col md-3 block text-center">
    <h5>Proprietaire Du Compte</h5>
    <form (change)="onChange()" autocomplete="false" id="transferForm" class="container text-center"  [formGroup] ="myForm" novalidate (ngSubmit)="update(myForm)" autocomplete="off">
        <div class="row">
        
              <div class="form-group col-md-12">
                  <input type="text" placeholder="FullName" class="form-control" formControlName="fullName">
               </div>
               <div class="form-group col-md-12">
                  <int-phone-prefix [locale]="'fr'"
                            formControlName="phone"  id="receiver" class="form-control"></int-phone-prefix>
               </div>
               <div class="form-group col-md-12">
                 <button type="submit" class="btn btn-primary" [disabled]="myForm.invalid" >Mettre A Jour</button>
               </div>
        </div>  
        </form>
</div>
</div>
<br>
<div class="text-center">
  <button (click)="resetPin()" class="btn btn-default"  style="margin-right: 5px">Reinitialiser le Pin</button>
  <button *ngIf="!isLocked" class="btn btn-danger" (click)="openSm(content)">Bloquer ce compte</button>
  <button *ngIf="isLocked" class="btn btn-warning" (click)="openSm(content)">Debloquer ce compte</button>
</div>
</div>
<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">Avertissement</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p *ngIf="!isLocked">Bloquer ce compte signifie le proprietaire ne pourra plus acceder aux services</p>
      <p *ngIf="isLocked">Debloquer ce compte signifie le proprietaire pourra encore acceder aux services</p>
    </div>
    <div style="margin: 5px" class="modal-footer text-center row">
      <button  type="button" class="btn btn-primary col-md-12 col-sm-12 col-xs-12" (click)="block()">Je Confirme</button>
      
    </div>
  </ng-template>