<form (change)="onChange()" autocomplete="false" id="transferForm" class="container text-center"  [formGroup] ="myForm" novalidate (ngSubmit)="post(myForm)" autocomplete="off">
  <!-- <input style="opacity: 0;position: absolute;">
  <input type="password" style="opacity: 0;position: absolute;"> -->
<!-- <p class="h5 text-center mb-4">Transferer</p> -->
<ngx-spinner size = "large"
        color = "#fff"></ngx-spinner>
<label class="text-center" for="" *ngIf='errorResponse' class="alert alert-danger" id="errorResponse">An Error Has Occured</label>
<label class="text-center" for="nothing" *ngIf='successResponse' class="alert alert-success" id="successResponse">Transfert Reussi</label>
 <div class="form-group">
    <input disabled (keydown)="onChange()" type="text" placeholder="Ton Numero De Compte ou Telephone" id="accno" class="form-control" formControlName="sender">
   
   
</div>

<div class="form-group">
  <label for="receiver">Beneficiaire</label>
  <int-phone-prefix [locale]="'fr'"
  [defaultCountry]="'cd'"
                    formControlName="receiver"  id="receiver" class="form-control"></int-phone-prefix>
 
</div>

<div class="form-group">
  <input autocomplete="false" (keydown)="onChange()" type="text" placeholder="Montant"  class="form-control" formControlName="amount">
 
 
</div>

<div class="form-group">
  
  <input autocomplete="false" (keydown)="onChange()" type="password" placeholder="pin"  class="form-control" formControlName="pin">
  <!-- <i class="fa fa-eye" aria-hidden="true"></i> -->
 
</div>
<div class="text-center">
    <button type="submit" class="btn btn-primary" [disabled]="myForm.invalid" mdbRippleRadius>Effectuer Le Transfer</button>
   <!-- <br> <br> <label for="" (click)="showResetPassword()" class="text-center">Forgot My Password</label> -->
  </div>

<!-- <div class="text-center">entered: {{myForm.value}}</div> -->
</form>