<form (change)="onChange()" autocomplete="false" id="transferForm" class="container text-center"  [formGroup] ="myForm" novalidate (ngSubmit)="post(myForm)" autocomplete="off">
  <!-- <input style="opacity: 0;position: absolute;">
  <input type="password" style="opacity: 0;position: absolute;"> -->
<!-- <p class="h5 text-center mb-4">Transferer</p> -->
<ngx-spinner size = "large"
        color = "#fff"></ngx-spinner>
<label class="text-center" for="" *ngIf='errorResponse' class="alert alert-danger" id="errorResponse">An Error Has Occured</label>
<label class="text-center" for="" *ngIf='successResponse' class="alert alert-success" id="successResponse">Transfert Reussi</label>
 <div class="form-group">
    <input (keydown)="onChange()" type="text" placeholder="Nom Complet" id="accno" class="form-control" formControlName="fullName">
   
   
</div>

<div class="form-group">
 
  <int-phone-prefix [locale]="'fr'"
  [defaultCountry]="'cd'"
                    formControlName="phone"  id="receiver" class="form-control"></int-phone-prefix>

</div>

<div class="form-group">
  <select name="" class="form-control" formControlName="role">
    <option value="">Role</option>
    <option *ngFor="let role of roles" value="{{role.name}}">{{role.name|role}}</option>
  </select>
</div>

<div class="text-center">
    <button type="submit" class="btn btn-primary" [disabled]="myForm.invalid" mdbRippleRadius>Effectuer Le Transfer</button>
   <!-- <br> <br> <label for="" (click)="showResetPassword()" class="text-center">Forgot My Password</label> -->
  </div>

<!-- <div class="text-center">entered: {{myForm.value}}</div> -->
</form>