.form{
    
    margin-top:10%;
    padding: 2%;
    background-color: whitesmoke;
    border-width: 05px;
    border-style: solid;
    border-radius: 10px;
    border-color:whitesmoke;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px
}
.form button{
    background-color: #26a69a;
    height: 40px;
}
.form p{
    color: #26a69a
}
.col1{
    font-size: 100px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    margin-left: 5%;
    margin-top: 15%
}

.caption{
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    margin-left: 10%;
}
