.form{
    margin-right: 10%;
    margin-top:10%;
    padding: 2%;
    background-color: whitesmoke;
    border-style: solid;
    border-radius: 0.2px;
    border-color:#26a69a;
}
.form button{
    background-color: #26a69a;
    height: 50px;
}
